h1{
  color: #31387d;
}
li{
  color:#ff0000;
}
.want-blue{
  color:#0000ff;
}
#li-yellow,#li-green,#li-black{
  color:aqua;
}
 div p {
  color:green;
}
.parent > p{
  color:red;
}
.sibling ~ p {
  color:aqua
}
 a:hover{color:red;}

 input[type=password]{
  color:red;
 }
 *{
  color:black;
 }
 .box{
  background-color:aqua;
  width:300px;
  /* border:3px solid red; */
  border-width: 5px;
  border-style: dotted;
  /* border-color: chocolate; */
  /* border-radius: 10px; */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-color: #ff0000;
  /* margin:100px 50px 50px 100px */
  margin-left:10px;
  margin-top: 20px;
  padding-bottom:50px;
  padding-top:50px

}
 
  .want1{
    width: 250px;
    height: 150px;
    background-color: red;
    /* float:right; */
    /* margin-left: 250px; */
    position:absolute;
    top:60px;
    left:40px;
    bottom:0px;
  }
  .want2{
    width:250px;
    height:150px;
    background-color: green;
    /* margin-top:300px; */
    position:absolute;
    top:70px;
    left:60px;



  }
 
 }
 /* .parent{
  width:800px;
  background-color:pink;
  height:800px
  min-width:400px;
  min-height:400px;
   */
 }
 body{
  height:2000px;
 }